body {
    text-align: center;
    margin-top: 70px;
}

#timer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 300;
}

button {
    width: 100px;
    height: 35px;
}

button:hover {
    cursor: pointer;
}

.history {
    text-align: center;
    margin-top: 150px;
}